.{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
}
.mouse{
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    display: flex;
}
#welcome{
    background-image: url(h_img.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    color: white;
    font-size: 200%;
}
#welcome::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(https://media2.giphy.com/media/xUA7b9HAKGRDT3Rfsk/source.gif);
    background-size: cover;
    opacity: .1;
    z-index: -1;
}
#welcome h1{
    font-size: 100px;
}
.container-half{
    min-height: 50vh;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 70px;
   
}
#about{
   background-color: white;
    z-index: 1;
    color: black;
    font-size: 500%;
    position: relative;
    align-items: baseline;
}
.services{
    min-height: 50vh;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 90px;
    background-image: url(s_image.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    color: white;
    font-size: 200%;
}
.services::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(https://64.media.tumblr.com/1e3c1d60053450c506fed589d1314134/tumblr_or5b0vVbeW1w5k72fo1_400.gifv);
    background-size: cover;
    opacity: .2;
    z-index: -1;
}
#what-we-do{
    background-color: white;
    position: relative;
    color: black;
    font-size: 200%;
}
.what{
    align-items: flex-start;
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.law{
    margin-left: 100%;
    margin-right: 100%;
}
.cont{
    align-items: center;
    padding-left: 250px;
    padding-bottom: 100px;
}
#portfolio{
    width:100%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 2% 20px 2%;
   }
   .p-headind{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color:#050505;
    font-weight: 400;
    padding: 40px;
    letter-spacing: 2px;
    border-radius: 3px;
    
   }
   .p-box{
    
    background-color: #1F1F1F;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
    position: relative;
    
   }
   .p-box img{
    
   width: 100%;
    height: 100%;
    object-fit: cover;
   }
   .p-container{
    width: 90%;
    height:70vh;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
   }
   .overlay-text{
    font-family: calibri;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(252, 250, 248, 0.712);
    display:none;
    
   }
   .overlay-text h1,p{
    color: black
   }
   .overlay-text h1{
    font-size: 2.2rem;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
    
   }
   .overlay-text p{
    font-size: 1.2rem;
    margin: 0px;
    
    
   }
   .p-box:hover .overlay-text{
    display: flex;
    
   }
   .contact{
       background-image: url('c_image.jpg');
       background-size: cover;
       background-position: top center;
       position: relative;
       z-index: 1;
       color: white;
       font-size: 200%;
       min-height: 75vh;
   }
   .conta{
    align-items: flex-start;
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.put{
    align-items: flex-start;
    padding: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;  
}